@model List<Asignatura>

@{
    ViewData["Title"] = "Course Information";
    @* Layout = "Simple"; *@
}

<h1>@ViewData["Title"]</h1>

<strong>Desde la vida parcial</strong>
<partial name="ListaObjetoEscuela" />

<p><i>@ViewBag.CosaDinamica</i></p>
<p><i>@ViewBag.Fecha</i></p>